In [54]:
import pandas as pd
import numpy as np
import matplotlib as pltm
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.feature_selection import SelectFromModel
np.random.seed(0)

In [2]:
df = pd.read_csv('Survey-results-2018.csv')
df.head(5)

,G,A,E,I,PCR1,PCR2,PCR3,PCR4,PCR5,PEU1,...,CE2,CE3,CE4,CE5,UC2,UC3,UC4,UC5,BAI2,BAI3
0,1,3,4,3,5,5,5,5,3,4,...,1,3,4,3,4,4,2,2,2,1
1,1,2,1,1,2,3,4,5,4,4,...,4,4,3,4,4,3,2,2,4,3
2,1,2,2,2,1,1,3,1,3,4,...,1,3,2,5,4,3,2,5,3,5
3,1,4,4,1,5,5,5,5,3,3,...,5,5,3,5,2,3,3,3,3,3
4,2,2,4,2,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 308 entries, 0 to 307
Data columns (total 26 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   G       308 non-null    int64
 1   A       308 non-null    int64
 2   E       308 non-null    int64
 3   I       308 non-null    int64
 4   PCR1    308 non-null    int64
 5   PCR2    308 non-null    int64
 6   PCR3    308 non-null    int64
 7   PCR4    308 non-null    int64
 8   PCR5    308 non-null    int64
 9   PEU1    308 non-null    int64
 10  PEU2    308 non-null    int64
 11  PEU3    308 non-null    int64
 12  PEU4    308 non-null    int64
 13  PEU5    308 non-null    int64
 14  PEU6    308 non-null    int64
 15  CE1     308 non-null    int64
 16  CE2     308 non-null    int64
 17  CE3     308 non-null    int64
 18  CE4     308 non-null    int64
 19  CE5     308 non-null    int64
 20  UC2     308 non-null    int64
 21  UC3     308 non-null    int64
 22  UC4     308 non-null    int64
 23  UC5     308 non-null    int64
 24  BAI2    308 non-null    int64
 25  BAI3    308 non-null    int64
dtypes: int64(26)
memory usage: 62.6 KB

In [4]:
df_features = df.drop(['E', 'I', 'A', 'G', 'BAI2'], axis=1)
print('The shape of our features is:', df_features.shape)

The shape of our features is: (308, 21)

In [5]:
df_features.head()

,PCR1,PCR2,PCR3,PCR4,PCR5,PEU1,PEU2,PEU3,PEU4,PEU5,...,CE1,CE2,CE3,CE4,CE5,UC2,UC3,UC4,UC5,BAI3
0,5,5,5,5,3,4,4,4,4,1,...,1,1,3,4,3,4,4,2,2,1
1,2,3,4,5,4,4,4,3,4,4,...,3,4,4,3,4,4,3,2,2,3
2,1,1,3,1,3,4,3,4,3,5,...,2,1,3,2,5,4,3,2,5,5
3,5,5,5,5,3,3,3,4,3,3,...,4,5,5,3,5,2,3,3,3,3
4,1,1,1,1,1,1,1,1,2,1,...,1,1,1,1,1,1,1,1,1,1

In [6]:
df_features.describe()

,PCR1,PCR2,PCR3,PCR4,PCR5,PEU1,PEU2,PEU3,PEU4,PEU5,...,CE1,CE2,CE3,CE4,CE5,UC2,UC3,UC4,UC5,BAI3
count,308.000000,308.000000,308.000000,308.000000,308.000000,308.00000,308.000000,308.000000,308.000000,308.000000,...,308.000000,308.000000,308.000000,308.000000,308.000000,308.000000,308.000000,308.000000,308.000000,308.000000
mean,3.772727,3.707792,3.870130,3.461039,3.282468,3.87987,3.435065,3.590909,3.785714,3.740260,...,2.542208,3.698052,2.743506,3.350649,2.753247,2.629870,2.990260,2.948052,2.915584,3.295455
std,1.437165,1.438989,1.415141,1.542590,1.370258,1.14510,0.883621,1.077539,1.007880,1.231007,...,1.442098,1.322468,1.405824,1.316557,1.456477,1.369521,1.009678,1.038617,1.067441,1.234828
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,3.000000,3.000000,3.000000,2.000000,2.000000,3.00000,3.000000,3.000000,3.000000,3.000000,...,1.000000,3.000000,1.000000,3.000000,1.000000,1.000000,2.000000,2.000000,2.000000,3.000000
50%,4.000000,4.000000,4.000000,4.000000,3.000000,4.00000,3.000000,4.000000,4.000000,4.000000,...,2.000000,4.000000,3.000000,4.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000
75%,5.000000,5.000000,5.000000,5.000000,4.250000,5.00000,4.000000,4.000000,5.000000,5.000000,...,4.000000,5.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000
max,5.000000,5.000000,5.000000,5.000000,5.000000,5.00000,5.000000,5.000000,5.000000,5.000000,...,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000

In [7]:
features_oneHot = pd.get_dummies(df_features)

In [8]:
features_oneHot.shape

(308, 21)

In [13]:
# Labels are the values we want to predict

labels = np.array(features_oneHot['BAI3'])

In [14]:
# Remove the labels from the features
# axis 1 refers to the columns

features= features_oneHot.drop('BAI3', axis = 1)
features.shape

(308, 20)

In [15]:
# Convert to numpy array

features = np.array(features)

In [62]:
# Split the data into training and testing sets

train_features, test_features, train_labels, test_labels = train_test_split(features, labels, test_size = 0.2, random_state = 42)

In [63]:
print('Training Features Shape:', train_features.shape)
print('Training Labels Shape:', train_labels.shape)
print('Testing Features Shape:', test_features.shape)
print('Testing Labels Shape:', test_labels.shape)

Training Features Shape: (246, 20)
Training Labels Shape: (246,)
Testing Features Shape: (62, 20)
Testing Labels Shape: (62,)

In [64]:
random_forest = RandomForestRegressor(n_estimators = 10, random_state = 42)

In [65]:
# Train the model on training data

random_forest.fit(train_features, train_labels);

In [66]:
# Use the forest's predict method on the test data

y_pred = random_forest.predict(test_features)

In [67]:
# Use the forest's predict method on the test data

y_pred = random_forest.predict(test_features)

In [68]:
# Calculate the absolute errors

absolute_errors = abs(y_pred - test_labels)

In [69]:
# Print out the mean absolute error (mae)

print('Mean Absolute Error:', round(np.mean(absolute_errors), 2), 'degrees.')

Mean Absolute Error: 0.21 degrees.

In [70]:
# mean absolute percentage error (MAPE)

mape = 100 * (absolute_errors / test_labels)

In [71]:
accuracy = 100 - np.mean(mape)
print('Accuracy:', round(accuracy, 2), '%.')

Accuracy: 90.92 %.

In [78]:
importances = random_forest.feature_importances_

std = np.std([tree.feature_importances_ for tree in random_forest.estimators_],axis=0)
indices = np.argsort(importances)[::-1]

# Print the feature ranking
print("Feature ranking:")

for f in range(train_features.shape[1]):
    print("%d. feature %d (%f)" % (f + 1, indices[f], importances[indices[f]]))

Feature ranking:
1. feature 0 (0.108333)
2. feature 1 (0.086859)
3. feature 2 (0.080061)
4. feature 3 (0.078551)
5. feature 4 (0.076693)
6. feature 5 (0.070327)
7. feature 6 (0.062602)
8. feature 7 (0.056719)
9. feature 8 (0.055332)
10. feature 9 (0.050192)
11. feature 10 (0.046098)
12. feature 11 (0.044152)
13. feature 12 (0.040751)
14. feature 13 (0.027115)
15. feature 14 (0.025506)
16. feature 15 (0.022751)
17. feature 16 (0.019876)
18. feature 17 (0.019679)
19. feature 18 (0.015435)
20. feature 19 (0.012967)