In [ ]:
# Road-map
# 1 Exploretory analysis
# 2 Data cleaning
# 3 Data scalling and transformation
# 4 Model

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('Survey-results-2018.csv')
df.head(5)

,G,A,E,I,PCR1,PCR2,PCR3,PCR4,PCR5,PEU1,...,CE2,CE3,CE4,CE5,UC2,UC3,UC4,UC5,BAI2,BAI3
0,1,3,4,3,5,5,5,5,3,4,...,1,3,4,3,4,4,2,2,2,1
1,1,2,1,1,2,3,4,5,4,4,...,4,4,3,4,4,3,2,2,4,3
2,1,2,2,2,1,1,3,1,3,4,...,1,3,2,5,4,3,2,5,3,5
3,1,4,4,1,5,5,5,5,3,3,...,5,5,3,5,2,3,3,3,3,3
4,2,2,4,2,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [3]:
df_features = df.drop(['E', 'I', 'A', 'G', 'BAI2'], axis=1)
print('The shape of our features is:', df_features.shape)

The shape of our features is: (308, 21)

In [4]:
df_features.head()

,PCR1,PCR2,PCR3,PCR4,PCR5,PEU1,PEU2,PEU3,PEU4,PEU5,...,CE1,CE2,CE3,CE4,CE5,UC2,UC3,UC4,UC5,BAI3
0,5,5,5,5,3,4,4,4,4,1,...,1,1,3,4,3,4,4,2,2,1
1,2,3,4,5,4,4,4,3,4,4,...,3,4,4,3,4,4,3,2,2,3
2,1,1,3,1,3,4,3,4,3,5,...,2,1,3,2,5,4,3,2,5,5
3,5,5,5,5,3,3,3,4,3,3,...,4,5,5,3,5,2,3,3,3,3
4,1,1,1,1,1,1,1,1,2,1,...,1,1,1,1,1,1,1,1,1,1

In [5]:
df_features.describe()

,PCR1,PCR2,PCR3,PCR4,PCR5,PEU1,PEU2,PEU3,PEU4,PEU5,...,CE1,CE2,CE3,CE4,CE5,UC2,UC3,UC4,UC5,BAI3
count,308.000000,308.000000,308.000000,308.000000,308.000000,308.00000,308.000000,308.000000,308.000000,308.000000,...,308.000000,308.000000,308.000000,308.000000,308.000000,308.000000,308.000000,308.000000,308.000000,308.000000
mean,3.772727,3.707792,3.870130,3.461039,3.282468,3.87987,3.435065,3.590909,3.785714,3.740260,...,2.542208,3.698052,2.743506,3.350649,2.753247,2.629870,2.990260,2.948052,2.915584,3.295455
std,1.437165,1.438989,1.415141,1.542590,1.370258,1.14510,0.883621,1.077539,1.007880,1.231007,...,1.442098,1.322468,1.405824,1.316557,1.456477,1.369521,1.009678,1.038617,1.067441,1.234828
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,3.000000,3.000000,3.000000,2.000000,2.000000,3.00000,3.000000,3.000000,3.000000,3.000000,...,1.000000,3.000000,1.000000,3.000000,1.000000,1.000000,2.000000,2.000000,2.000000,3.000000
50%,4.000000,4.000000,4.000000,4.000000,3.000000,4.00000,3.000000,4.000000,4.000000,4.000000,...,2.000000,4.000000,3.000000,4.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000
75%,5.000000,5.000000,5.000000,5.000000,4.250000,5.00000,4.000000,4.000000,5.000000,5.000000,...,4.000000,5.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000
max,5.000000,5.000000,5.000000,5.000000,5.000000,5.00000,5.000000,5.000000,5.000000,5.000000,...,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000